body, html {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

#map {
    width: 100%;
    height: 100%;
}

#tools {
    position: fixed;
    top: 10px;
    left: 10px;
    background: white;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 2px 10px #0003;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#logo {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: white;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 2px 10px #0003;
}

#logo img {
    width: 120px;
}

